openapi: 3.0.3
info:
  title: Onboarding - OpenAPI 3.0
  description: STD22038
  version: 1.0.11
servers:
  - url: https://std22038.com/api/v1
tags:
  - name: students
  - name: teachers
paths:
  /students:
    post:
      tags:
        - students
      summary: Add a new student
      requestBody:
        description: Create a new student
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Students'
          application/xml:
            schema:
              $ref: '#/components/schemas/Students'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Students'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Students'          
            application/xml:
              schema:
                $ref: '#/components/schemas/Students'
        '500':
          description: Internal Servor Error
  /student/{studentId}:
    get:
      tags:
        - students
      summary: Find student by ID
      description: Returns a single student
      operationId: getById
      parameters:
        - name: studentId
          in: path
          description: ID of student to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Students'          
            application/xml:
              schema:
                $ref: '#/components/schemas/Students'
        '500':
          description: Internal Servor Error
    put:
      tags:
        - students
      summary: Update an existing student by ID
      operationId: updateStudent
      parameters:
        - name: studentId
          in: path
          description: id of student to update
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Update a student
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Students'
          application/xml:
            schema:
              $ref: '#/components/schemas/Students'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Students'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Students'
            application/xml:
              schema:
                $ref: '#/components/schemas/Students'
        '500':
          description: Internal Servor Error
    delete:
      tags:
        - students
      summary: Delete a student by ID
      operationId: deleteStudent
      parameters:
        - name: studentId
          in: path
          description: Student id to delete
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid student value
        '500':
          description: Internal Servor Error

  /teachers:
    post:
      tags:
        - teachers
      summary: Add a new teacher
      requestBody:
        description: Create a new teacher
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Teachers'
          application/xml:
            schema:
              $ref: '#/components/schemas/Teachers'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Teachers'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teachers'
            application/xml:
              schema:
                $ref: '#/components/schemas/Teachers'
        '500':
          description: Internal Servor Error

  /teachers/{teachersId}:
    get:
      tags:
        - teachers
      summary: Find teacher by ID
      description: Returns a single teacher
      operationId: getById
      parameters:
        - name: teacherId
          in: path
          description: ID of teacher to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teachers'
            application/xml:
              schema:
                $ref: '#/components/schemas/Teachers'
        '500':
          description: Internal Servor Error


components:
  schemas:
    Students:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: John
        birthdate:
          type: string
          format: date
          example: 2005-02-02
      xml:
        name: students
    Teachers:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        firstname:
          type: string
          example: Toky
        lastname:
          type: string
          example: Ramarozaka
        courses:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              code:
                type: string
              duration:
                type: integer
          example:
            - name: Algorithmique
              code: PROG1
              duration: 64
            - name: Base de données structurées
              code: DONNEES1
              duration: 48



  securitySchemes:
    petstore_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://petstore3.swagger.io/oauth/authorize
          scopes:
            write:pets: modify pets in your account
            read:pets: read your pets
    api_key:
      type: apiKey
      name: api_key
      in: header